<nav class="nav">
  <ul>
    <li><span class="branding" title="Learn Angular">LA</span></li>
    <li><a routerLink="/events" routerLinkActive="active">Events</a></li>
    <li><a routerLink="/special" routerLinkActive="active">Special events</a></li>
  </ul>

  <ul>
    <li *ngIf="!_authService.loggedIn()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="!_authService.loggedIn()"><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li *ngIf="_authService.loggedIn()"><a class="app__logout" (click)="_authService.logoutUser()">Logout</a></li>
  </ul>
</nav>

<section class="content">
  <router-outlet></router-outlet>
</section>
