@import '../assets/styles/var';

.app {

  &__logout {
    color: var(--warn-color);
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.nav {
  background-color: var(--nav-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $primary-space;

  .branding {
    font-weight: bold;
    color: var(--branding-color);
    margin-right: $primary-space;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      padding: $primary-space / 3;
    }

    a {
      color: var(--nav-link-color);
      text-transform: uppercase;
      text-decoration: none;

      &.active {
        color: var(--nav-active-link-color);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.content {
  padding: 3* $primary-space;
}
